.tableForm {
    width: 100%;
    height: auto;
    margin-top: -4%;
}

.tdForm{
    width: 5%;
    height: auto;
}

.tdFormLess{
    width: 5%;
    height: auto;
}

.tdFormLabel{
    width: 16%;
    height: auto;
}

.tdFormCantidad{
    width: 13%;
    height: auto;
}